@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 mb-3 ">
    <h2 class="h2">Ərazi</h2>
</div>

<div class="card mb-3 px-4 shadowBox border-0  border-radius-card">
    <h5 class="my-4 font-weight-bold">Yeni ərazi əlavə et</h5>

    <form>
        <div class="row">
            <div class="col-lg-6 col-12">

                <div class="form-group">
                    <label for="formGroupExampleInput">Şərti ad</label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                           placeholder="Default input">
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">IBAN nömrəsi</label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                           placeholder="Default input">
                </div>
            </div>

             <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">Telefon Nömrəsi</label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                           placeholder="Default input">
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">Ünvan</label>
                    <textarea name="" id="formGroupExampleInput" rows="5" class="form-control"></textarea>
                </div>
            </div>

           
        </div>

    </form>


</div>

<button type="button" class="btn p-2  text-white border bg-primary">Yadda saxla </button>
<button type="button" class="btn p-2  text-white border bg-primary">Imtina</button>