@model ResidentalComplexManagment.Web.Areas.Admin.Models.AppartmentAddVM;

@{
    ViewData["Title"] = "Yeni Mənzil Əlavə Et";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 mb-3 ">
    <h2 class="h2">@ViewData["Title"]</h2>
</div>
<form asp-action="Add" asp-controller="Appartment" method="post">

    <input type="hidden" asp-for="Add.BuildingId" />


    <div class="card mb-3 px-4 shadowBox border-0  border-radius-card">
        <h5 class="my-4 font-weight-bold">@ViewData["Title"]</h5>


        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">Mənzil Nömrəsi</label>
                    <input type="number" min="1" class="form-control" id="formGroupExampleInput" placeholder="Mənzil Nömrəsi" asp-for="Add.DoorNumber" />
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">Sahəsi kv m</label>
                    <input type="number" class="form-control" id="formGroupExampleInput"
                           placeholder="Sahəsi" asp-for="Add.Area">
                </div>
            </div>

            
        </div>



    </div>

    <button type="submit" asp-route-redirect="AddFromBuilding" class="btn p-2  text-white border bg-primary">Yadda saxla </button>
    <button type="submit"  asp-route-redirect="Index"  class="btn p-2  text-white border bg-primary">Yadda saxla Qayıt</button>


    <a type="button" asp-action="Index" asp-controller="Appartment" class="btn p-2  text-white border bg-primary">Imtina</a>

</form>

