@model ResidentalComplexManagment.Web.Areas.Admin.Models.BuildingAddVM;
@{
    ViewData["Title"] = "Bina Redaktə Et";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 mb-3 ">
    <h2 class="h2">Bina readktə et</h2>
</div>
<form asp-action="Update" asp-controller="Building" method="post">

    <input type="hidden" asp-for="Add.Id" />

    <div class="card mb-3 px-4 shadowBox border-0  border-radius-card">
        <h5 class="my-4 font-weight-bold">Bina readktə et</h5>


        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">Şərti ad</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Şərti adı" asp-for="Add.Name" />
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">Bina Nömrəsi</label>
                    <input type="number" class="form-control" id="formGroupExampleInput"
                           placeholder="Bina Nömrəsi" asp-for="Add.Number">
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label for="formGroupExampleInput" class="d-block">MTK</label>
                    <select class="selectpicker my-select border border-radius-card " data-style="btn-white" data-width="100%" asp-for="Add.MKTId" asp-items="Model.Mkt">
                    </select>
                </div>
            </div>


            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">Ünvan</label>
                    <textarea id="formGroupExampleInput" rows="5" class="form-control" asp-for="Add.Address"></textarea>
                </div>
            </div>


        </div>



    </div>

    <button type="submit" class="btn p-2  text-white border bg-primary">Yadda saxla </button>
    <button type="button" asp-action="Index" asp-controller="Building" class="btn p-2  text-white border bg-primary">Imtina</button>
</form>